* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 5rem; }

.navbar {
  height: 220px; }

.color-nav {
  background-color: rgba(255, 255, 255, 0.479); }

.color-boton {
  background-color: red;
  color: black; }

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #eb0d3d;
  border-color: var(--bs-btn-hover-border-color); }

.navbar {
  padding: -9rem;
  --bs-navbar-hover-color: rgb(255, 2, 2); }

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: rgba(255, 255, 255, 0);
  background-color: black;
  border: var(--bs-border-width);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition); }

.nav-link {
  color: black; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: black; }

.nav-link.disabled {
  color: black; }

.whatsapp {
  display: flex;
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 50px;
  height: 50px;
  justify-content: flex-end; }

h1 {
  margin: 10px auto; }

.noticias {
  display: flex;
  background-color: black;
  height: 45px;
  color: red;
  align-items: center;
  justify-content: space-around; }

.pie-header {
  display: flex;
  background-color: rgba(66, 65, 65, 0.76);
  height: 35px;
  color: white;
  align-items: center;
  justify-content: space-around; }

.carousel-padre {
  width: 100%;
  margin: 0 auto;
  padding: 10px; }

.ancho-carousel {
  width: 100%;
  flex-wrap: wrap; }

.card-productos {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row; }

.imgFachada {
  width: 35%;
  display: flex;
  flex-wrap: wrap; }

.quienesSomos {
  display: flex;
  height: 35px;
  color: #424242;
  align-items: center;
  justify-content: space-around; }

.historia {
  display: flex;
  background-color: rgba(66, 65, 65, 0.76);
  height: 35px;
  color: white;
  align-items: center;
  justify-content: space-around; }
