h1 {
    font-size: 5rem;
}

.navbar {
    height: 220px;
}


.color-nav {
    background-color: rgba(255, 255, 255, 0.479);
}
.color-boton {
    background-color: rgb(255, 0, 0);
    color: black;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgb(235, 13, 61);
    border-color: var(--bs-btn-hover-border-color);
}


.navbar {
    padding: -9rem;
    --bs-navbar-hover-color: rgb(255, 2, 2);
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgba(255, 255, 255, 0);
    background-color: rgb(0, 0, 0);
    border: var(--bs-border-width);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: rgb(0, 0, 0);
}

.nav-link.disabled {
    color: rgb(0, 0, 0);
}


.whatsapp{
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 50px;
    height: 50px;
    justify-content: flex-end;
}

h1 {
    margin: 10px auto;
}

.noticias {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 45px;
    color: rgb(255, 0, 0);
    align-items: center;
    justify-content: space-around;
}